.category_image {
  width: 300px;
}
.categoryPhoto {
  margin: auto;
}

.Rating {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #73a24e;
  border-radius: 25;
  height: 40;
  padding-top: 7;
  margin-top: 10;
}

.RatingCard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #39395f;
  border-radius: 25px;
  height: 30px;
  margin-top: 10px;
}

.MealCardContainer {
  background-color: #73a24e;
  width: 700px;
  border-radius: 15px;
  min-height: 700px;
  padding: 15px;
  border: solid 2px #416a59;
  margin: 20px;
  -moz-box-shadow: 0 0 8px black;
  -webkit-box-shadow: 0 0 8px black;
  box-shadow: 0 0 8px black;
}

.MealCard {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.RightMealCard {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-top: 10px;
  width: 700px;
}

.MealCardHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #39395f;
  font-weight: bold;
  font-size: 16px;
  border-radius: 25px;
  height: 40px;
  margin-bottom: 10px;
}

.PrepCookTime {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background-color: #fff;
  color: #39395f;
  height: 30px;
  width: 350px;
  font-size: 10pt;
  margin-top: 10px;
}

.Ingredients {
  border-radius: 25px;
  padding: 10px;
  background-color: #fff;
  color: #39395f;
  margin-top: 10px;
  font-size: 10pt;
  padding: 20px;
  min-height: 300px;
}

.Method {
  border-radius: 25px;
  padding: 10px;
  background-color: #fff;
  color: #39395f;
  font-size: 10pt;
  padding: 20px;
  margin-top: 5px;
  min-height: 350px;
}

.Comments {
  border-radius: 25px;
  padding: 10px;
  background-color: #fff;
  color: #39395f;
  font-size: 10pt;
  padding: 20px;
  margin-top: 10px;
  min-height: 140px;
}

.RecipeSourceData {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 25px;
  padding: 10px;
  background-color: #fff;
  color: #39395f;
  font-size: 10pt;
  padding: 5px;
  margin-top: 10px;
}

ul {
  list-style: none; /* Remove default bullets */
}

ul li::before {
  content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: black; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.CenterCardContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 20px;
  gap: 20px;
  font-size: 10pt;
}

.IngredientsHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
  color: white;
  text-shadow: black 2px 2px;
}

.LeftIngredientsPanel {
  display: flex;
  flex-direction: column;
  width: 320px;
  border-radius: 25px;
  background-color: #f5eec2;
  min-height: 400px;
  padding: 15px;
}

.RightIngredientsPanel {
  display: flex;
  flex-direction: column;
  width: 320px;
  border-radius: 25px;
  background-color: #f5eec2;
  min-height: 400px;
  padding: 20px;
}

.Column-gap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.shoppingListRowContainer {
  display: flex;
  flex-direction: row;
  background-color: white;
  width: "100%;";
  /* border-left: 1px solid black;
  border-right: 1px solid black; */
  padding-left: 5px;
}

.ShoppingListColumn {
  background-color: #fff;
  border-radius: 25px;
  padding: 10px;
  width: 320px;
}

.shoppingDialog .modal-content {
  background-color: #73a24e;
  width: 330px;
  border: 1px solid black;
  /* box-shadow: 5px 10px 8px gray; */
  -moz-box-shadow: 0 0 8px black;
  -webkit-box-shadow: 0 0 8px black;
  box-shadow: 0 0 8px black;
}

.shopping-item-master {
  color: #0000ee;
  cursor: pointer;
}

.shopping-item-list {
  color: red;
  cursor: pointer;
}

.shopping-item-picked {
  color: gray;
  text-decoration: line-through;
  cursor: pointer;
}

.shoppingListPanelContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shoppingListContainer {
  background-color: white;
  padding-bottom: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  min-height: 300px;
  width: 300px;
  border: 1px solid black;
}

.shoppingListTotalPanelContainer {
  width: 70px;
  text-align: center;
  align-self: flex-end;
  margin-right: 45px;
}

.shoppingListPanelHeader {
  width: 300px;
  background-color: black;
  color: white;
  font-size: smaller;
  font-weight: bold;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.shoppingListPanelTotalHeader {
  background-color: black;
  padding: 5px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.shoppingListPanelTotalHeaderText {
  color: white;
  text-align: "center";
}

.shoppingListPanelTotalText {
  color: black;
  padding: 5px;
  text-align: "center";
}

.shoppingListPanelTotalBody {
  background-color: white;
  border-left-width: 2px;
  border-left-color: black;
  border-right-width: 2px;
  border-right-color: black;
}

.emptyList {
  text-align: center;
}
