.Button {
  color: #fff;
  padding-left: 10px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
  font-weight: bold;
  height: 32px;
  width: "100%";
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 1;
  transition: opacity 300ms ease;
  margin: 5px;
}

.Search {
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  background-color: #39395f;
  margin: 0px;
}

.Primary {
  border-radius: 25px;
  background-color: #39395f;
}

.Done {
  border-radius: 25px;
  background-color: #416a59;
  border: 0px;
  width: "100%";
}

.Cancel {
  border-radius: 25px;
  background-color: #a9c25d;
}

.Trash {
  color: blue;
  cursor: pointer;
}

.BackButton {
  color: #39395f;
  cursor: pointer;
  opacity: 1;
  transition: opacity 300ms ease;
}

.Photo {
  width: 285px;
  height: 220px;
  background-color: black;
  margin-bottom: 10px;
}

#ImageViewerItem {
  opacity: 1;
  transition: opacity 300ms ease;
}

.touched {
  opacity: 0.5;
}

#SearchBox {
  border-radius: 25;
  background-color: #fff;
  margin-left: 30px;
  height: 35;
}

.SearchContainer {
  background-color: #a9c25d;
  width: 998px;
  height: 46px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
}

.SearchInput {
  margin-left: 10px;
  border: none;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  width: 300px;
}

.SignInContainer {
  margin-left: auto;
  color: #fff;
}

.SignInContainer a {
  color: #fff;
  font-size: 10pt;
  font-weight: bold;
  text-decoration: none;
}

#SignIn:hover {
  color: #fff;
  text-decoration: underline;
}

#SignUp:hover {
  color: #fff;
  text-decoration: underline;
}

.ImageViewerContainer {
  display: flex;
  flex-wrap: wrap;
  width: 972px;
}

.whitelabel {
  color: #fff;
}

.navylabel {
  color: #39395f;
}
