.Button {
  color: #fff;
  padding-left: 10px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
  font-weight: bold;
  height: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 1;
  transition: opacity 300ms ease;
  margin: 5px;
}

.Search {
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  background-color: #a9c25d;
  margin: 0px;
}

.Primary {
  border-radius: 25px;
  background-color: #39395f;
  /* border: none; */
  -moz-box-shadow: 0 0 4px rgb(49, 45, 45);
  -webkit-box-shadow: 0 0 4px rgb(49, 45, 45);
  box-shadow: 0 0 4px rgb(49, 45, 45);
}

.Submit {
  width: 97%;
}

.Done {
  border-radius: 25px;
  background-color: #416a59;
  border: 0px;
  width: "100%";
  -moz-box-shadow: 0 0 4px rgb(49, 45, 45);
  -webkit-box-shadow: 0 0 4px rgb(49, 45, 45);
  box-shadow: 0 0 4px rgb(49, 45, 45);
}

.Cancel {
  border-radius: 25px;
  background-color: #a9c25d;
  -moz-box-shadow: 0 0 4px rgb(49, 45, 45);
  -webkit-box-shadow: 0 0 4px rgb(49, 45, 45);
  box-shadow: 0 0 4px rgb(49, 45, 45);
}

.Trash {
  color: blue;
  cursor: pointer;
}

.BackButton {
  color: #39395f;
  cursor: pointer;
  opacity: 1;
  transition: opacity 300ms ease;
}

.SignInSignOut {
  color: #fff;
  font-weight: bold;
  font-size: 10pt;
  cursor: pointer;
}

.SignInSignOut {
  text-decoration: underline;
}

.PaginationContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  font-size: 10pt;
  color: gray;
}

.Pagination {
  width: 50px;
  margin: 2px;
  padding-left: 20px;
  -moz-box-shadow: 0 0 4px gray;
  -webkit-box-shadow: 0 0 4px gray;
  box-shadow: 0 0 4px gray;
}

.Photo {
  width: 285px;
  height: 220px;
  background-color: black;
  margin-bottom: 10px;
}

#ImageViewerItem {
  opacity: 1;
  transition: opacity 300ms ease;
}

.touched {
  opacity: 0.5;
}

#SearchBox {
  border-radius: 25;
  background-color: #fff;
  margin-left: 30px;
  height: 35;
}

.SearchContainer {
  background-color: #416a59;
  width: 998px;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
}

.SearchInput {
  margin-left: 10px;
  border: none;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  width: 300px;
}

.SearchInput:focus {
  outline: none;
}

.SignInContainer {
  margin-left: auto;
  color: #fff;
}

.SignInContainer a {
  color: #fff;
  font-size: 10pt;
  font-weight: bold;
  text-decoration: none;
}

.SignIn:hover {
  color: #fff;
  text-decoration: underline;
}

.ImageViewerContainer {
  display: flex;
  flex-wrap: wrap;
  width: 972px;
}

.whitelabel {
  color: #fff;
}

.navylabel {
  color: #39395f;
}

.fullscreen-dialog .modal-content {
  background-color: #000;
  margin: 0px;
  width: 1000px;
  height: 700px;
}

.registrationContainer {
  display: flex;
  flex-direction: column;
  width: 400px;
  border-radius: 25px;
  background-color: #73a24e;
  padding: 20px;
  color: #fff;
  -moz-box-shadow: 0 0 8px black;
  -webkit-box-shadow: 0 0 8px black;
  box-shadow: 0 0 8px black;
}

.AlignRow {
  display: flex;
  flex-direction: row;
}

#cropped {
  background-color: black;
  width: 100%;
}
