.App {
  width: 1000px;
  margin: auto;
  border: gray solid 1px;
  /* min-height: 1200px; */
  margin-bottom: 40px;
}

.App-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 130px;
  width: 240px;
  background-color: #416a59;
  color: #fff;
  padding: 20px;
}

#meal {
  font-weight: bold;
  margin-bottom: 0px;
}

#ideas {
  position: relative;
  left: 0px;
  top: -20px;
  margin: 0px;
  padding: 0px;
  font-size: 32pt;
  font-weight: bold;
}

.App-header {
  background-image: url("../src/images/paper-seamless-background-1380.jpg");
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  font-weight: "bold";
  color: #39395f;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

footer {
  position: relative;
  height: 30px;
  width: 100%;
  background-color: #000;
  margin-top: 30px;
}

p.copyright {
  position: absolute;
  width: 100%;
  color: #fff;
  line-height: 0px;
  font-size: 0.7em;
  font-weight: bold;
  text-align: center;
  bottom: 0;
}

button {
  width: 100%;
}

.app-header-stripe {
  background-image: linear-gradient(to right, red, yellow);
  width: 1000px;
  height: 10px;
  margin: auto;
}
